.advertisement-sidebar {
    width: 267px;
    vertical-align: top;
    display: inline-block;
    padding-top: 88px;
}

.advertisement-item {
    width: 267px;
    height: 287px;
    margin-bottom: 32px;
    border-radius: var(--common-border-radius);
}

.advertisement-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}